.land{
  position: relative;
  display: flex;
  width: 100wv;
  height: 6hv;
  top: -8px;
  left: -8px;
}
.lolpr{
  position: relative;
  width: 1366px;
  height: 697px;
  background-color: #4682B4;
  z-index: -1;
  opacity: 0.65;
  left: -1366px;
}
.bgimg1{
  display: flex;
  width: 1366px;
  height: 697px;
  left: 0px;
  top: 0px;
  z-index: -2;
}
.logo{
  position: fixed;
  display: flex;
  width: 96px;
  height: 96px;
  left: 17px;
  top: 26px;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
  /*box-shadow: 0px 0px 10px #FFFFFF;*/
}
.logo:hover{
  box-shadow: 0px 0px 10px #191970;
}
.glavtext{
  position: absolute;
  width: 909px;
  height: 257px;
  left: 115px;
  top: 135px;
  font-family:  'Helvetica';
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 117px;
  color: #FFFFFF;
}

.aboutsite{
  position: absolute;
  left: 658px;
  top: 46px;
  font-size: 24px;
  color: #CFCFCF;
  cursor: pointer;
}
.aboutsite:hover{
  color: #DAA520;
}
.aboutcourse{
  position: absolute;
  left: 831px;
  top: 46px;
  font-size: 24px;
  color: #CFCFCF;
  cursor: pointer;
}
.aboutcourse:hover{
 color: #DAA520;
}
.aboutus{
  position: absolute;
  left: 1004px;
  top: 46px;
  font-size: 24px;
  color: #CFCFCF;
  cursor: pointer;
}
.aboutus:hover{
  color: #DAA520;
}
.aboutprof{
  position: absolute;
  width: 118px;
  height: 32px;
  left: 1165px;
  top: 46px;
  font-size: 24px;
  color: #CFCFCF;
  cursor: pointer;
}
.aboutprof:hover{
 color: #DAA520;
}

.glavbot{
 position: absolute;
 display: flex;
 width: 375px;
 height: 63px;
 left: 115px;
 top: 547px;
 background: #318FB5;
 border-radius: 40px;
}
.glavbot:hover{
  background: #7B68EE;
}
.textnach{
  position: absolute;
  width: 150px;
  height: 63px;
  left: 230px;
  top: 552px;
  font-size: 45px;
  line-height: 47px;
  font-family:  'Helvetica';
  color: #FFFFFF;
}

#exid2{
  top: 10px;
  left: -50px;
}
.textabsm{
  font-size:  40px;
  display: flex;
  align-items: center;
  font-family:  'Helvetica';
  z-index: 2;
}
.Blocktas{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 300px;
  left: 350px;
  top: -315px;
}
.textabs{
  position: relative;
  text-align: center;
  font-size:  25px;
  font-family:  'Helvetica';
  z-index: 2;
  margin-left: 30px;
  margin-top: 10px;
}
.Blocktas2{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 300px;
  left: 0px;
  top: -350px;
}
.textabs2{
  position: relative;
  text-align: center;
  font-size:  25px;
  font-family:  'Helvetica';
  z-index: 2;
}
.ex1{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1366px;
  left: 50px;
  top: 700px;
}
.textabcm{
  font-size:  40px;
  display: flex;
  align-items: center;
  font-family:  'Helvetica';
  z-index: 2;
}
.img1{
  position: absolute;
  height: 200px;
  width: 300px;
  top: 1100px;
  left: 950px;
}

.Blocktac1{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 300px;
  left: 20px;
  top: 0px;
}
.textabc1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFF;
  font-family:  'Helvetica';
  font-size: 40px;
}

.mid1{
  position: absolute;
  width: 855px;
  height: 317px;
  left: 440px;
  top: 1774px;
  background: #001244;
}
.mid2{
  position: absolute;
  width: 442px;
  height: 571px;
  left: 0px;
  top: 1520px;
  background: #001244;
}
.mid3{
  position: absolute;
  width: 345.56px;
  height: 199.56px;
  left: 270px;
  top: 1775px;
  background: #005086;
  transform: rotate(-60deg);
  z-index: -2;
}
.mid4{
  position: absolute;
  width: 953px;
  height: 401px;
  left: 413px;
  top: 1690px;
  background: #318FB5;
  z-index: -3;
}
.mid5{
  position: absolute;
  width: 184px;
  height: 305.91px;
  left: 370px;
  top: 1500px;
  background: #318FB5;
  transform: rotate(-45deg);
  z-index: -3;
}
.mid6{
  position: absolute;
  width: 417px;
  height: 40px;
  left: 0px;
  top: 1480px;
  background: #318FB5;
  z-index: -3;
}
.mid7{
  position: absolute;
  width: 1366px;
  height: 697px;
  left: 0px;
  top: 1394px;
  background: #F7D6BF;
  z-index: -4;
}

.img2{
  position: relative;
  z-index: 4;
  width: 330px;
  top: -225px;
  left: 20px;
}

.LogLog{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 750px;
  height: 600px;
  top: -80px;
  left: 290px;
  border: 6px solid #001244;
  border-radius: 50px;
}
.tekst{
  font-family:  'Helvetica';
  font-size: 30px;
}
.pole1{
  width: 500px;
  height: 30px;
  border: 1px solid gray;
  margin-top:  10px;
}
.textp1{
  font-family:  'Helvetica';
  font-size: 15px;
  margin-top: 5px;
  margin-left: 5px;
  color: #696969;
}
.pole2{
  width: 500px;
  height: 30px;
  border: 1px solid gray;
  margin-top:  10px;
}
.textp2{
  font-family:  'Helvetica';
  font-size: 15px;
  margin-top: 5px;
  margin-left: 5px;
  color: #696969;
}
.pole3{
  width: 500px;
  height: 30px;
  border: 1px solid gray;
  margin-top:  10px;
}
.textp3{
  font-family:  'Helvetica';
  font-size: 15px;
  margin-top: 5px;
  margin-left: 5px;
  color: #696969;
}
.logbot{
  margin-top: 15px;
  width: 60px;
  display: inline-block;
  color: rgba(255,255,255,1.8);
  text-decoration: none;
  text-shadow: 0 0 1px rgb(3,43,58);
  padding: .8em 1.2em;
  background: #0E8BB8 linear-gradient(#0A5E7D, #0E8BB8);
  box-shadow:
   0 15px 12px -12px rgb(0,0,0),
   0 -2px 0 -1px rgb(20,110,140),
   0 -4px 0 -2px rgb(18,108,138),
   0 -6px 0 -3px rgb(16,106,136),
   0 -8px 0 -4px rgb(14,104,134),
   0 -10px 0 -5px rgb(12,102,132),
   0 -12px 0 -6px rgb(10,100,130);
  cursor: pointer;
}
.logbot:active {
  margin: 10 calc(2px + 6px) 2px 0;
  padding: calc(.8em - 2px) calc(1.2em - 6px - 2px);
  border-left: 2px solid rgb(150,150,150);
  border-right: 2px solid rgb(150,150,150);
  border-bottom: 2px solid rgb(230,230,230);
  background: rgb(44,160,202) linear-gradient(rgb(62,184,229), rgb(44,160,202));
  box-shadow: none;
  -webkit-transform: translate(6px, -6px);
  transform: translate(6px, -6px);
}


.bottom1{
  position: absolute;
  width: 789px;
  height: 359px;
  top: 3126px;
  left: 0px;
  background: #001244;
}
.bottom2{
  position: absolute;
  width: 442px;
  height: 417px;
  left: 924px;
  top: 3068px;
  background: #001244;
}
.bottom3{
  position: absolute;
  width: 924px;
  height: 511px;
  left: 0px;
  top: 2974px;
  background: #318FB5;
  z-index: -1;
}
.bottom35{
  position: absolute;
  width: 76.56px;
  height: 136.06px;
  left: 906.9px;
  top: 2980.97px;
  background: #318FB5;
  transform: rotate(-45deg);
  z-index: -1;
}
.bottom4{
  position: absolute;
  width: 1366px;
  height: 352px;
  left: 0px;
  top: 2788px;
  background: #F7D6BF;
  z-index: -2;
}
.coninf{
  font-size: 35px;
  font-family:  'Helvetica';
  margin-top: 50px;
  margin-left: 300px;
}
.mails{
  font-size: 25px;
  font-family:  'Helvetica';
  margin-top: 30px;
  margin-left: 10px;
  color: white;
}
.tel{
  font-size: 25px;
  font-family:  'Helvetica';
  margin-top: 30px;
  margin-left: 25px;
  color: white;
}

#air{
  z-index: -1;
}